.notify {
    //
    // basic styles
    //
    .modal-content {
        background : none;
        overflow   : hidden;
        position   : relative;

        .life-time {
            height   : 3px;
            left     : 0;
            position : absolute;
            top      : 0;
            width    : 100%;

            .progress-bar {
                transition : width 0s ease-out;
                width      : 0;
            }
        }

        // use for trigger close modal
        .hide-close {
            display  : inline-block;
            height   : 0;
            overflow : hidden;
            width    : 0;
        }
    }

    //
    // modal header
    //
    .modal-header {
        border  : none;
        padding : 10px 15px;

        h5 {
            font-size   : 18px;
            font-weight : normal;
        }

        .close:focus {
            outline : none;
        }
    }

    .modal-body {
        background-color : #ffffff;
    }

    .modal-footer {
        background-color : #fcfcfc;
        border-top-color : transparent;
        border-top-color : #f4f4f4;
        justify-content  : space-between;
        padding-left     : 0;
        padding-right    : 0;

        span {
            display   : inline-block;
            font-size : 14px;
            padding   : 0 10px;
        }

        & > :not(:first-child) {
            margin : 0;
        }

        > div > .btn {
            font-size   : 15px;
            font-weight : 300;
            margin      : 0 10px;
            min-width   : 80px;
            padding     : 3px 10px;
        }
    }

    // -----------------------------------------------------------
    // theme === default || green || red ||  yellow || orange || blue || light

    &.theme-default {
        .modal-header {
            background-color : #f2f2f2;

            h5 {
                color : #555555;
            }

            .close {
                color : #777777;

                &:hover, &:focus {
                    color : #555555;
                }
            }
        }

        .life-time {
            background-color : #cccccc;

            .progress-bar {
                background-color : #aaaaaa;
            }
        }
    }

    &.theme-green {
        .modal-header {
            background-color : #00b16a;

            h5 {
                color : #ffffff;
            }

            .close {
                color : #003a23;

                &:hover, &:focus {
                    color : #002315;
                }
            }
        }

        .life-time {
            background-color : #008f56;

            .progress-bar {
                background-color : #00633b;
            }
        }
    }

    &.theme-red {
        .modal-header {
            background-color : #f64747;

            h5 {
                color : #ffffff;
            }

            .close {
                color : #670617;

                &:hover, &:focus {
                    color : #1a0308;
                }
            }
        }

        .life-time {
            background-color : #cb3b3b;

            .progress-bar {
                background-color : #a93131;
            }
        }
    }

    &.theme-yellow {
        .modal-header {
            background-color : #f9bf3b;

            h5 {
                color : #ffffff;
            }

            .close {
                color : #4e3806;

                &:hover, &:focus {
                    color : #312305;
                }
            }
        }

        .life-time {
            background-color : #d6a433;

            .progress-bar {
                background-color : #a77f28;
            }
        }
    }

    &.theme-orange {
        .modal-header {
            background-color : #ff9900;

            h5 {
                color : #ffffff;
            }

            .close {
                color : #3c2503;

                &:hover, &:focus {
                    color : #291902;
                }
            }
        }

        .life-time {
            background-color : #db8300;

            .progress-bar {
                background-color : #b26b00;
            }
        }
    }

    &.theme-blue {
        .modal-header {
            background-color : #1e8bc3;

            h5 {
                color : #ffffff;
            }

            .close {
                color : #052d42;

                &:hover, &:focus {
                    color : #031f2e;
                }
            }
        }

        .life-time {
            background-color : #1974a3;

            .progress-bar {
                background-color : #13577a;
            }
        }
    }

    &.theme-light {
        .modal-header {
            background-color : #ffffff;

            h5 {
                color : #444444;
            }

            .close {
                color : #aaaaaa;

                &:hover, &:focus {
                    color : #555555;
                }
            }
        }

        .life-time {
            background-color : #ffffff;

            .progress-bar {
                background-color : #bbbbbb;
            }
        }
    }
}