@import "var";

body {
    //background-color : #0b1f43;
}

#webpack-hot-middleware-clientOverlay {
    direction : ltr !important;
}


/****** extend animate css package *********/
.animated.d-25ms {
    animation-duration : 0.025s;
}

.animated.d-50ms {
    animation-duration : 0.05s;
}

.animated.d-75ms {
    animation-duration : 0.075s;
}

.animated.d-100ms {
    animation-duration : 0.1s;
}

.animated.d-250ms {
    animation-duration : 0.25s;
}

.animated.d-500ms {
    animation-duration : 0.5s;
}

.animated.d-750ms {
    animation-duration : 0.75s;
}

.animated.d-1s {
    animation-duration : 1s;
}

.animated.d-2s {
    animation-duration : 2s;
}

.animated.d-3s {
    animation-duration : 3s;
}

.animated.d-4s {
    animation-duration : 4s;
}
/****** END *********/


//
// --------------- Responsive Section ----------------
//

@include media-breakpoint-down(sm) {
    .modal-dialog {
        margin    : 0 !important;
        max-width : 100% !important;
        padding   : 0 !important;
    }

    .modal-content {
        border-radius : 0 !important;
        height        : auto !important;
        min-height    : 100% !important;
    }
    .modal-header {
        border-top-left-radius  : 0 !important;
        border-top-right-radius : 0 !important;;
    }
}

