@keyframes loading-animate {
    0% {
        opacity : 0.2;
    }
    50% {
        opacity : 1;
    }
    100% {
        opacity : 0.2;
    }
}

.loading-animate,
.reload-animate {
    animation-duration                : 1s;
    animation-fill-mode               : both;
    animation-iteration-count         : infinite;
    animation-name                    : loading-animate;
    -webkit-animation-timing-function : ease-out;
    animation-timing-function         : ease-out;
    pointer-events                    : none;
}

.loading-animate a,
.reload-animate a {
    pointer-events : none;
}

.loading-animate .hide-in-loading {
    display : none !important;
}

.loading-animate.loading-text-effect,
.loading-animate .loading-text-effect {
    color          : #e5e5e5 !important;
    font-size      : 45px !important;
    font-weight    : bold !important;
    letter-spacing : -6px !important;
    line-height    : 24px;
    word-spacing   : 5px !important;
}
