@namespace "home";

.slider-wrap {
    margin-bottom : 50px;

    .item {
        $size     : 300px;
        //
        max-width : $size;
        margin    : 0 15px;
        height    : 112px;

        img {
            max-width  : $size;
            max-height : 100%;
        }
    }
}

.card {
    color : #404040;

    span {
        font-size : 13px;
        opacity   : 0.3;
    }

    &:hover {
        text-decoration : none;

        span {
            opacity : 1;
        }

    }
}
